.odd-numbered {
    background-color: #f08080;
    color: black;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}/* Add CSS Styling */

#number-two {
    color: blue;
    font-size: 32px;
}

.number-three {
    font-size: 24px;
}

#number-four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}